* {
    margin: 0px;
    padding: 0px;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
  }

body {
    background: var(--background);
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.box {
    flex: 1;
}

#login {
    display: flex;
}

.logo {
    position: absolute;
    width: 160px;
    float: left;
    margin: 50px 50px;
}

form {
    background-color: var(--form-background);
    margin: auto;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form fieldset{
    border-width: 0px;
    color: var(--text-base);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;;
}

form fieldset legend{
    font-size: 2em;
    color: var(--text-title);
}

.text{
    text-align: center;
}

.cor {
    color: var(--primary-color);
    text-decoration: none;
}

#esqueci {
    margin-left: 60px;
}

span {
    font-weight: bold;
}

#img{
    background-image: url("images/side-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

input {
    border-radius: 5px;
}


[type="submit"],[type="email"], [type="password"]{
    width: 360px;
    height: 50px;
    padding: 3px 10px;
    box-sizing: border-box;
}

[type="email"], [type="password"]{
    font-size: 0.9em;
    margin-bottom: 5px;

}

[type="email"]:focus, [type="password"]:focus{
    outline: none !important;
    border-color: var(--primary-color);
}

[type="checkbox"]:focus{
    color: var(--primary-color);
}

[type="checkbox"]{
    border-radius: 10px;
    background-color: var(--background);
    width: 30px;
    height: 20px;
}

[type="submit"] {
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--primary-color);
    margin: 5px 0;
}
